{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
            <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ message }}</legend>
                    <h4>You just logged out</h4>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login Again</button>
                </div>
            </form>
    </div>
{% endblock content%}