{% load crispy_forms_tags %}
{% block head %}
    <!-- Include Bootstrap CSS from Bootswatch -->
    <link href="https://bootswatch.com/5/litera/bootstrap.min.css" rel="stylesheet">
{% endblock head %}
{% block content %}
    <br>
    <div class="container" style="width:500px;">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>

            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account?<a href="{% url 'login' %}">Login</a></small>
        </div>
    </div>
    <br>
{% endblock content %}